@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1{
    font-size: 3em;
} */

/* .text{
    font-family: 'Proza Libre', sans-serif;
} */
body {
    font-family: 'Poppins';
    font-weight: 400;
}

.container {
    height: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    border-bottom: 2px solid;
    margin-bottom: 50px;
    width: 100%;
}

.pause {
    visibility: hidden;
}

.buttons {
    display: flex;
    gap: 2%;
}

button {
    font-family: inherit;
    padding: 1%;
}

button:hover {
    cursor: pointer;
}

.custom button {
    color: white;
    background-color: black;
}

.bar {
    /* width: 20px; */
    /* margin: 0 5px; */
    margin-top: 0;
    margin-bottom: 0;
    background: gray;
    position: relative;
}

.bar-before {
    position: absolute;
    color: black;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 0;
}

.bar-after {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.tags{
    background-color: rgba(40, 40, 40, 0.66);
    color: yellow;
    position: absolute;  
    bottom: -120px;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: inherit;
    padding: 1rem 0;
    font-family: monospace;
    font-weight: 300;
    font-size: large;
}
#info{
    background-color: rgb(40, 40, 40);
    color: yellow;
    line-height: initial;
    margin-top: 5px;
}
@media screen and (max-width: 500px){
    #info{
        font-size: 70%;
    }
}